<html>
<head>
  <include file="../head.tmpls"/>
  <title>How to install proper CPU microcode</title>
</head>
<body>

  <section class="grid-container">

    <div class="grid-x grid-margin-xy grid-padding-xy">
      <div class="cell margin-xy">
        <h1>How to install proper microcode</h1>
        <h2>by Mateus de Lima Oliveira</h2>
        <p>
          According to the <a href="https://en.wikipedia.org/wiki/Microcode">Wikipedia page about microcode</a>,
          &quot;microcode is a technique that interposes an intermediate
          layer between the central processing unit (CPU) hardware and the
          programmer-visible instruction set architecture of a computer&quot;.
        </p>
        <p>
          
        </p>
      </div>
    </div>

    <div class="grid-x grid-margin-xy grid-padding-xy">
      <div class="cell margin-xy">
        <h3>Further reading</h3>
        <ul>
          <li><a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC8311508/">DOI 10.5498/wjp.v11.i7.297</a></li>
        </ul>
      </div>  
    </div>

  </section>

  <include file="../scripts.tmpls"/>

</body>
</html>
